@import url('https://fonts.googleapis.com/css?family=Kalam|Lobster|Pangolin');
section {
    background-image: url(/img/exheq48z-q4-frank-mckenna.jpg);
    height: 100vh;
    background-size: cover;
}

body {
    background-image: url(/img/8p-uqatd8rw-rodion-kutsaev.jpg);
    background-size: cover;
    background-attachment: fixed;
}

[id^="picture-"] img {
    width: 100%;
    padding: 15px;
    height: 250px;
}

nav {
    background-color: white;
    height: 50px;
}

nav>ul li {
    display: inline;
    height: 50px;
    text-align: center;
    /*        line-height: 60px;*/
    margin: 0 auto;
    padding: 0px 10px;
    color: #7f7fd0;
}

nav a {
    display: grid;
    text-shadow: 2px 10px 5px #c3c3de;
    color: burlywood;
}

a:visited {
    color: #812727;
}

a:hover {
    color: #812727;
}

a:active {
    color: #7f7fd0;
}

footer [class^="col-"] {
    background-color: #f7ede0;
    color: brown;
    height: 40vh;
}

#title {
    height: 150px;
}

h3 {
    font-size: 3.25em;
    color: #8b6122;
    font-family: "Kalam", Helvetica, Arial, sans-serif;
    float: left;
    height: 50px;
}

#picture-1:hover:after {
    content: "In Moscow......";
    font-family: "Kalam", Helvetica, Arial, sans-serif;
    font-size: 2.25em;
}

#picture-2:hover:after {
    content: "In Suzidaer......";
    font-family: "Kalam", Helvetica, Arial, sans-serif;
    font-size: 2.25em;
}

#picture-3:hover:after {
    content: "In St. Petersburg......";
    font-family: "Kalam", Helvetica, Arial, sans-serif;
    font-size: 2.25em;
}

.thumbnail {
    width: 800px;
    margin: 0 auto;
}

.thumbnail img {
    position: relative;
    width: 800px;
    height: 500px;
}

#moscow:after {
    position: absolute;
    top: 0px;
    background-color: #ffd59e;
    opacity: 0;
    content: "";
    display: block;
    width: 800px;
    height: 500px;
}

#st:after {
    position: absolute;
    top: 0px;
    background-color: #ffd59e;
    opacity: 0;
    content: "";
    display: block;
    width: 800px;
    height: 500px;
}

#su:after {
    position: absolute;
    top: 0px;
    background-color: #ffd59e;
    opacity: 0;
    content: "";
    display: block;
    width: 800px;
    height: 500px;
}

#moscow:hover:after {
    content: "裝潢令人驚嘆的杜蘭朵......俄羅斯奢華餐飲經典代表作......";
    color: #812727;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 280px;
    opacity: 0.5;
}

#st:hover:after {
    content: "小小的W招牌在......在聖彼得堡 走的是溫馨路線......";
    color: #812727;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 250px;
    opacity: 0.5;
}

#su:hover:after {
    content: "童話般的金環小鎮體驗道地俄式風情...... ";
    color: #812727;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 200px;
    opacity: 0.5;
}

.thumbnail-1 {
    width: 33.33%;
    margin: auto;
}

.thumbnail-1 img {
    width: 100%;
}

.box {
    text-align: center;
    line-height: 100px;
    width: 100px;
    height: 100px;
    border-radius: 250% 25% 25% 50%;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #fcfadc;
    color: #986b6b;
    text-shadow: 2px 10px 5px #c3c3de;
}

#food {
    height: 320px;
    background-image: url(/imgfood/123.JPG);
    background-size: cover;
    color: #f7ede0;
    text-align: right;
    font-size: 2.25em;
    font-weight: bold;
}

p {
    color: #812727;
    font-size: 1.25em;
}

#food-1 {
    width: 0 auto;
    font-size: 1.25em;
    color: #812727;
}

li>ul {
    font-size: 1em;
    display: none;
}

li:hover>ul {
    display: block;
    font-size: 1em;
}

#coffee img {
    height: 300px;
}

#d {
    line-height: 300px;
    text-align: center;
    color: #812727;
    font-size: 1.25em;
}

#coffee-2 {
    background-color: #f7ede0;
    height: 250vh;
    /*    width: 1500px;*/
}

#coffee-2 img {
    float: center;
    height: 400px;
    width: 450px;
    border: 5px solid #191969;
    border-style: groove;
}

#p-1 {
    text-align: center;
    font-size: 1.25em;
}

h1:before {
    content: "";
    display: inline-block;
    width: 100px;
    border: 3px solid;
    border-style: dotted;
}

h1:after {
    content: "";
    display: inline-block;
    width: 100px;
    border: 3px solid;
    border-style: dotted;
}

h1 {
    color: #812727;
}

.jumbotron {
    height: 100vh;
    background-image: url(/imgfamily/11856320_1034922623194010_3299354733396525685_o.jpg);
    color: antiquewhite;
    text-align: center;
    padding: 150px;
    font-family: "Kalam", Helvetica, Arial, sans-serif;
}

.gravatar {
    text-align: center;
    margin: 0 auto;
}

.gravatar img {
    width: 350px;
    height: 250px;
    border-radius: 25% 25% 25% 25%;
}

#family {
    width: calc(100%/3);
    float: left;
    padding: 10px;
}

#family img {
    width: 100%;
    height: 300px;
}

#life {
    width: 230px;
    height: 160px;
    background-image: url(https://sdl-stickershop.line.naver.jp/products/0/0/7/3620/android/animation/2923385.png?__=20161019);
    background-repeat: no-repeat;
}

#life-1 {
    width: 280px;
    height: 220px;
    background-image: url(https://sdl-stickershop.line.naver.jp/products/0/0/14/546/android/stickers/2994.png);
    background-repeat: no-repeat;
}

h2 {
    color: #653737;
}

#life-3 {
    width: calc(100%/3);
    float: left;
    padding: 10px;
}

#life-3 img {
    width: 100%;
    height: 300px;
}

.caption>h3 {
    font-size: 18px;
    font-weight: bold;
}

.cpation p {
    font-size: 14px;
}
